body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #dcdcdc;
}

.spinner {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 7px solid rgb(248, 248, 248);
    border-left-color: #97133f;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}